In [18]:
# it is a variable ,'a', and '=' is a assingment operator
a = 15

In [5]:
print(a)

15

In [3]:
#Anything written past # can be treated as comments, and python would not execute it

In [4]:
b = 20
"""it is a multiline comment.
Anything written in more than one lines
can't get executed , if it is between three quotes
"""
k = 21
print(b)
print(k)#nothing gets executed between b and k variables

20
21

#  Data Type

In [4]:
a

15

In [5]:
type(a) #integer type

int

In [6]:
flo = 2.5  #float type

In [7]:
type(flo)

float

In [8]:
string = "Harsh"
type(string) #string type

str

In [9]:
com = 3+5j  #complex type
type(com)

complex

## Type Casting

In [10]:
# When we change the type of a variable, it's called Type casting.

In [19]:
a = str(a)
print(a)

15

In [7]:
type(a)

str

In [20]:
b = float(a)
type(b)

float

In [21]:
# strings can't get converted in int
str_2 = "hii there"
print(int(str_2)) #this will not work

ValueError: invalid literal for int() with base 10: 'hii there'

### Concatenation

In [12]:
str_1 = "My name is "
str_2 = "Harsh Goswami"

In [13]:
print(str_1+str_2) #joins two or more part

My name is Harsh Goswami

In [17]:
str_3 = "abcABC"
print(str_3*10)

abcABCabcABCabcABCabcABCabcABCabcABCabcABCabcABCabcABCabcABC

### Modify Strings

In [20]:
#python is case sensitive
sample_1 = "My name is"
SAMPLE_1 = "Harsh Goswami"
print(sample_1)    #These both lines
print(SAMPLE_1)    #gets executed.

My name is
Harsh Goswami

In [22]:
#converting into Uppercase 
sample_1.upper()

'MY NAME IS'

In [23]:
new_line = "I am learning ,Data Science, cuz learning is fun."
new_line.split()  #splits after every word if reference point is not given.

['I', 'am', 'learning', ',Data', 'Science,', 'cuz', 'learning', 'is', 'fun.']

In [25]:
new_line.split(",")  #splits by comma which asts as a reference point

['I am learning ', 'Data Science', ' cuz learning is fun.']

In [26]:
SAMPLE_1.casefold()

'harsh goswami'

In [27]:
sample_1.casefold()

'my name is'

In [1]:
age = 21
print("My age is",age)

My age is 21

In [8]:
#fstring
print(f"My age is: {age}.")

My age is: 21.

In [10]:
#format
name = "Harsh"
age = 21
print("My name is {} and age is {}.".format(name,age))

My name is Harsh and age is 21.