# Tuples

In [2]:
t = ()

In [3]:
type(t)

tuple

In [14]:

t1 = (1,2,3,45,53.52,"Harsh",False)
type(t1)

tuple

In [8]:
t1

(1, 2, 3, 45, 53.52, 'Harsh', False)

In [11]:
t1[0]

1

In [13]:
t1[6]

False

In [21]:
#Writing in reverse
t1[::-1]

(False, 'Harsh', 53.52, 45, 3, 2, 1)

In [20]:
#item assignment otherwise will be gone
t1 = t1[::-1]
print(t1)

(1, 2, 3, 45, 53.52, 'Harsh', False)

#### Slicing of Tuple

In [4]:
#Slicing from Zero to third element
t1[0:4]

(1, 2, 3, 45)

In [6]:
#let's define a new tuple
t2=(1,1,1,1,2,5,3,4,"Ram","Shyam","Rita","Rita",True,0,0,False)
print(t2.count(1)) #it is counting True as 1 also , that's why giving 5.
print(t2.index("Rita")) # gives index of forst element

5
10

In [10]:
lst_1 = [1,2,3,"acb","5.0"]

In [11]:
lst_1

[1, 2, 3, 'acb', '5.0']

In [12]:
# tuples are immutable
t1[0] = "a"
print(t1) # this  can't get executed.

NameError: name 't1' is not defined

In [17]:
# we can also iterate through tuples.
for i in t1:
    print(i ,"-->",type(i))

1 --> <class 'int'>
2 --> <class 'int'>
3 --> <class 'int'>
45 --> <class 'int'>
53.52 --> <class 'float'>
Harsh --> <class 'str'>
False --> <class 'bool'>

In [18]:
# Nested tuples
t_final = (t1,t2)
t_final

((1, 2, 3, 45, 53.52, 'Harsh', False),
 (1, 1, 1, 1, 2, 5, 3, 4, 'Ram', 'Shyam', 'Rita', 'Rita', True, 0, 0, False))

In [19]:
# can store any value in tuples like lists, complex numbers, boolean values anything.
t_final= (t1,t2,lst_1,True)
print(t_final)

((1, 2, 3, 45, 53.52, 'Harsh', False), (1, 1, 1, 1, 2, 5, 3, 4, 'Ram', 'Shyam', 'Rita', 'Rita', True, 0, 0, False), [1, 2, 3, 'acb', '5.0'], True)

In [20]:
len(t_final)

4

In [25]:
3 in t_final[0]

True